/* CSS Document */
body{
    margin:0px;
    padding:0pc;
    background-color:#161616;
}
html{
scroll-behavior: smooth;
top:#main;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
#main{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background-color:#f4f7ff;
    position: relative;
    background-image: url(IMG_9556%202.jpeg);
    background-repeat: no-repeat;
    background-size: 510px;
    background-position: right bottom;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: darkgray;
    font-size: 12px;
}
.logo{
    font-size 25px;
    font-weight: bold;
    color: darkorange;
    font-family: Poppins;
}
.menu li a:hover,
.active{
    background-color: #292929;
    color:#FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: monospace;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.name p:nth-child(1),
.name .aboutme{
    color: darkorange;
    font-size: 16px;
}
.name h1{
    font-family: Poppins;
    font-size: 40px;
    margin:0px;
    color: #292929;
}
.resume-btn{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}
.resume-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color:rgba(18,17,17,0.4);
    font-size: 35px;
}
.social a:hover i{
    color: darkorange;
    transition: all ease 0.5s;
}
#portfolio{
    width: 100%;
    box-sizing: border-box;
    background-color:#f4f7ff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 2% 20px 2%;
}
.p-heading{
    font-family: monospace;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 11px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}
.p-heading2{
    color: darkorange;
}
.p-project{
    align-content: center;
    align-items: center;
    padding: 0px 200px;
    
}
.tracker-btn{
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #FFFFFF;
}
.tracker-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}
.p-image{
    padding: 10px;
    padding-bottom: 15px;
}
#contact{
   width: 100%;
    box-sizing: border-box;
    background-color:#f4f7ff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 2% 20px 2%; 
}
.c-heading{
    font-family: monospace;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    padding-bottom: 10px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}
.c-phone{
    color: darkorange
}
.c-email{
    color:darkorange
}
.p-project2{
    padding: 200px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.p2-heading{
    color: darkorange;
    
}